body {
    background: #E9FAF7 !important;
}


/* what we do section */

.wedo__section {
    flex-direction: column;

    .wedo__content {
        align-items: center !important;

        .heading {
            text-align: center;
        }
    }


}

.service__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 64px 10vw;

    .heading {
        color: var(--primary-color, #26BD9A);
        font-family: Raleway;
        font-size: 42px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.677px;
    }

    .service__card {
        max-width: 450px;
        display: flex;
        gap: 20px;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .paragraph {
            font-size: 20px;
        }

        .small__heading {
            font-size: 42px;
        }
    }

    .service__card img {
        width: 200px;
    }

    .service__detail {
        min-width: 450px;
        display: flex;
        flex-direction: column;
        gap: 30px;

        .heading {
            text-align: center;
        }

        .paragraph {
            font-size: 20px;
            color: #444;
        }
    }
}

.capabilites__section {
    display: flex;
    flex-direction: column;
    gap: 64px;

    .center__content {
        .title__container {
            .heading {
                max-width: 450px;
            }
        }
    }

    .wedo__services {
        display: grid;
        align-items: center;
        gap: 40px;
        justify-content: center;
        grid-template-columns: repeat(4, 1fr);

        .card {
            width: 100%;
        }
    }
}

.about__choose {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    .section__content {
        .paragraph {
            max-width: 800px;
        }
    }

    .aboutchoose__data {
        display: flex;
        flex-direction: column;
        gap: 32px;

        .data__card {
            display: flex;
            gap: 20px;

            .data {
                display: flex;
                flex-direction: column;
                gap: 10px;

                .small__heading {
                    text-align: start;
                }

                .paragraph {
                    text-align: start;
                }
            }
        }
    }
}