/* hero section */

.hero__section {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;

    .hero__img {
        max-width: 800px;
    }

    .hero__img img {
        width: 100%;
    }
}

/* what we do section */

.wedo__section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 64px;

    .wedo__content {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 20px;
    }

    .wedo__img {
        user-select: none;
        position: relative;
    }

    .wedo__img::after {
        content: '';
        position: absolute;
        inset: 0;
    }

    .pc__off {
        display: none;
    }

    .wedo__services {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 40px;
        justify-content: center;

        .sub__title {
            color: var(--primary-color);
            font-family: Manrope;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            letter-spacing: 0.5px;
        }

        .card {
            width: 300px;
        }

        .card img {
            width: 120px;
        }
    }

}

/* about section */

.about__section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 64px;

    .about__img {
        max-width: 800px;
    }

    .about__img img {
        width: 100%;
    }
}


/* why choose us */

.choose__us {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;

    .center__content {
        gap: 20px;

        .title__container {
            .heading {
                max-width: 800px;
            }
        }

        .paragraph {
            max-width: 700px;
        }

        .btn {
            min-width: fit-content;
        }
    }

    .section__cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* portfolio section */

.portfolio__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;

    .tabs {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .link {
        color: #444;
        font-family: Manrope;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.5px;
    }

    .section__cards {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
        flex-wrap: wrap;

        .card {
            max-width: 100%;
            display: flex;
            flex-direction: column;
            gap: 18px;
            align-items: start;

            .sub__title {
                color: var(--primary-color, #26BD9A);
                text-align: center;
                font-family: Manrope;
                font-size: 22px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                letter-spacing: 0.5px;
            }

            .small__heading {
                width: fit-content;
            }
        }
    }
}


/* testomonial section */

.testomonial__section {
    display: flex;
    align-items: center;

    .testomonial__content {
        display: flex;
        flex-direction: column;
        gap: 20px;
        min-width: 450px;

        .arrows {
            display: flex;
            align-items: center;
            gap: 20px;
        }

        .arrows i {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--primary-color);
            border-radius: 50%;
            width: 36px;
            height: 36px;
            color: var(--white-color);
            font-size: 30px;
        }
    }

    .testomonial__sliders {
        display: flex;
        align-items: center;
        gap: 86px;
        overflow: scroll;

        .slide {
            min-width: 300px;
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 20px;

            .paragraph {
                color: #444;
                text-align: start;
            }
        }
    }

    .testomonial__sliders::-webkit-scrollbar {
        display: none;
    }
}