/* hero section */

.hero__section {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;

    .hero__img {
        max-width: 800px;
    }

    .hero__img img {
        width: 100%;
    }
}

/* what we do section */

.wedo__section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 64px;

    .wedo__content {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 20px;
    }

    .wedo__img {
        user-select: none;
        position: relative;
    }

    .wedo__img::after {
        content: '';
        position: absolute;
        inset: 0;
    }

    .wedo__services {
        display: none;
        align-items: center;
        flex-wrap: wrap;
        gap: 40px;
        justify-content: center;

        .card {
            width: 300px;
        }
    }

}

/* about section */

.about__section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 64px;

    .section__content {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .paragraph {
            text-align: start;
        }



    }

    .about__img {
        max-width: 800px;
    }

    .about__img img {
        width: 100%;
    }
}


/* why choose us */

.choose__us {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;

    .center__content {
        .paragraph {
            max-width: 600px;
        }

        .btn {
            min-width: fit-content;
        }
    }

    .section__cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* portfolio section */

.portfolio__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;

    .section__cards {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
        flex-wrap: wrap;

        .card {
            max-width: 100%;
            display: flex;
            flex-direction: column;
            gap: 18px;
            align-items: start;

            .small__heading {
                width: fit-content;
            }
        }
    }
}


/* testomonial section */

.testomonial__section {
    display: flex;
    align-items: center;

    .testomonial__content {
        display: flex;
        flex-direction: column;
        gap: 20px;
        min-width: 450px;

        .arrows {
            display: flex;
            align-items: center;
            gap: 20px;
        }

        .arrows i {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--primary-color);
            border-radius: 50%;
            width: 36px;
            height: 36px;
            color: var(--white-color);
            font-size: 30px;
        }
    }

    .testomonial__sliders {
        display: flex;
        align-items: center;
        gap: 86px;
        overflow: scroll;

        .slide {
            min-width: 300px;
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 20px;

            .paragraph {
                color: #444;
                text-align: start;
            }
        }
    }

    .testomonial__sliders::-webkit-scrollbar {
        display: none;
    }
}


/* newsletter */

.newsletter__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    .heading {
        text-align: center;
    }

    .mobile__input{
        display: none;
    }

    .mobile__input input {
        padding: 20px;
        color: #444;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.5px;
        background: transparent;
        outline: none;
        width: 100%;
        border-radius: 10px;
        border: 2px solid rgba(68, 68, 68, 0.50);
    }

    .input {
        padding: 10px 10px 10px 28px;
        border-radius: 50px;
        overflow: hidden;
        border: 2px solid rgba(68, 68, 68, 0.50);
        display: flex;
    }

    .input input {
        color: #444;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.5px;
        background: transparent;
        border: 0;
        outline: none;
        width: 340px;
    }
}


/* footer */

.footer__sections {
    padding: 81px 8vw 60px 8vw !important;
    color: #fff;
    background: #1C2125;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 40px;
    margin-top: 162px;

    .paragraph{
        text-align: start;
    }

    .footer__section {
        display: flex;
        justify-content: space-between;
        align-items: start;
        width: 100%;
        gap: 20px;
        
        .footer__content {
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: start;

            .paragraph {
                text-align: start;
            }
        }

        .footer__links {
            gap: 16px;
            display: flex;
            flex-direction: column;

            .links {
                flex-wrap: wrap;
                max-width: 260px;
                display: flex;
                align-items: center;
                gap: 16px;
            }

            .link {
                width: 100px;
                color: var(--white-color);
            }
        }

        .social__link {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .links {
                display: flex;
                align-items: center;
                gap: 16px;
                flex-wrap: wrap;
            }

            .links a:hover{
                color: var(--primary-color);
            }
        }

        .social__link a {
            transition: .3s;
            color: var(--white-color);
            font-size: 24px;
        }

        .social__link a:hover{
            color: var(--primary-color);
        }

    }

    .footer__copy {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .email {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }
}


/* media queries */

@media (max-width:1200px) {

    .wedo__section {
        flex-direction: column;
        align-items: center;

        .wedo__content {
            text-align: center;
            align-items: center;

            .heading {
                max-width: 600px;
            }
        }


    }

    .about__section {
        flex-direction: column;
    }

    .choose__us {
        .section__cards {
            grid-template-columns: 1fr 1fr;
        }
    }

}

@media (max-width:620px) {

    .hero__section {
        .hero__img {
            display: none;
        }
    }

    .choose__us {
        .section__cards {
            grid-template-columns: 1fr;
        }
    }

    .newsletter__section {
        
        .mobile__input{
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 20px;

            .btn{
                width: 100%;
            }
        }

        .input {
            display: none;
        }
    }

    .footer__section{
        flex-direction: column;
    }

    .footer__copy{
        gap: 20px;
        flex-direction: column;
    
        .email{
            align-items: center;
        }
    }
}
