/* google fonts (Manrope Roboto) */
/* google fonts (Manrope Roboto) */

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* universal css */
/* universal css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Manrope', sans-serif;
}

/* webkit scroll bar */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: var(--primary-color);
}


/* selection */

::selection {
    color: var(--white-color);
    background-color: var(--secondry-color);
}

html,
body {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/background.png);
    scroll-behavior: smooth;
    background-position: center;
}

h1,
h2,
h3 {
    font-family: 'Raleway', sans-serif;
}

:root {
    --white-color: #fff;
    --primary-color: #21D0B2;
    --secondry-color: #243665;
    --dark-color: #444444;
}

.section {
    padding: 81px 8vw;
}

.btn {
    cursor: pointer;
    width: fit-content;
    color: var(--white-color);
    display: flex;
    padding: 14px 28px;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    border-radius: 85px;
    background: var(--primary-color);
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.5px;
    transition: .3s;
    border: 2px solid var(--primary-color);
}

.btn:hover {
    border: 2px solid var(--primary-color);
    background-color: transparent;
    color: var(--primary-color);
}

.btn img {
    transition: .3s;
}

.btn:hover img {
    width: 20px;
    opacity: .7;
    transform: translate(10px);
}

.sub__title {
    color: var(--secondry-color);
    font-family: Raleway;
    font-size: 56px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 0.5px;
}

.heading {
    max-width: 580px;
    color: #222;
    font-family: Manrope;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.5px;
}

.small__heading {
    color: #222;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 0.5px;
}

.paragraph {
    text-align: center;
    max-width: 442px;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.5px;
}

.dot__primary {
    color: var(--primary-color);
}

.link {
    color: var(--dark-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.5px;
    transition: .3s color;
    cursor: pointer;
}

.active {
    color: var(--secondry-color);
}

.link:hover {
    color: #888888;
}

.center__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;

    .title__container {
        position: relative;

        .title {
            max-width: 960px;
            color: var(--secondry-color);
            text-align: center;
            font-size: 72px;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
            letter-spacing: 0.5px;
        }

        .title span {
            color: var(--primary-color);
        }

        .heading {
            max-width: 650px;
            text-align: center;
        }

        .leftimg {
            position: absolute;
            bottom: -20px;
            left: -46px;
        }

        .rightimg {
            position: absolute;
            top: -10px;
            right: 90px;
        }

    }

}

.section__content {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .paragraph {
        text-align: start;
    }

    .heading {
        font-size: 32px;
    }

}

.section__topimg {
    width: 86px;
}

.pc__off {
    display: none;
}

.number {
    color: var(--primary-color);
    text-align: center;
    font-size: 58px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 0.5px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: .3s transform;
    cursor: pointer;

    .paragraph {
        max-width: 100%;
    }

}

.card:hover {
    transform: scale(1.03);
}


@media (max-width:1200px) {
    .center__content {
        .title__container {

            .rightimg,
            .leftimg {
                display: none;
            }

            .title {
                font-size: 48px;
            }
        }
    }
}

@media (max-width:650px) {
    .center__content {
        .title__container {
            .title {
                font-size: 36px;
            }
        }
    }
}