/* testomonial section */

.testimonial__section {
    display: flex;
    align-items: center;
    gap: 64px;

    .testimonial__content {
        display: flex;
        flex-direction: column;
        gap: 20px;
        min-width: 450px;

        .arrows {
            display: flex;
            align-items: center;
            gap: 20px;
        }

        .arrows i {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--primary-color);
            border-radius: 50%;
            width: 36px;
            height: 36px;
            color: var(--white-color);
            font-size: 30px;
        }
    }

    .testimonial__slider {
        display: flex;
        align-items: center;
        gap: 86px;
        overflow: scroll;

        .slide {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 20px;

            .small__heading{
                display: inline;
                align-items: start;
            }

            .paragraph {
                color: #444;
                text-align: start;
            }
        }
    }

    .testimonial__slider::-webkit-scrollbar {
        display: none;
    }
}

.transform{
    transform: translateX(-500px);
}